header{
    padding: 30 px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    margin: auto;
    text-align: center;
}
.routeclass{
    align-content: center;
    align-items: center;

}